*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url("images/background.jpg");
    padding: 1em 0;
    text-align: center;
}

img {
    max-width: 100%;
}

.card {
    border: 3px solid red;
    width: 100%;
}